adfukriskdev/PartialArmTemplates/ArmTemplate_6_20_2021_19_29_54.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfukriskdev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/IfconditionCopyadf')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Using if condition activity copying the files to ADLS output",
				"activities": [
					{
						"name": "Sales_Product_FileMap",
						"description": "To identify the sales & Product inputfiles",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "FileexistanceCheck",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(pipeline().parameters.CSVFileType)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Copy Product Data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Product_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"ContainerName": {
													"value": "@pipeline().globalParameters.ContainerName",
													"type": "Expression"
												},
												"InputFolder": {
													"value": "@pipeline().globalParameters.inputFolder",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Product_Json_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"ContainerName": {
													"value": "@pipeline().globalParameters.ContainerName",
													"type": "Expression"
												},
												"TgtProductFolder": {
													"value": "@pipeline().parameters.TgtProductFolder",
													"type": "Expression"
												}
											}
										}
									]
								}
							],
							"ifTrueActivities": [
								{
									"name": "CopySalesdata",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Sales_Address_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"ContainerName": {
													"value": "@pipeline().globalParameters.ContainerName",
													"type": "Expression"
												},
												"InputFolder": {
													"value": "@pipeline().globalParameters.inputFolder",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Sales_Json_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"ContainerName": {
													"value": "@pipeline().globalParameters.ContainerName",
													"type": "Expression"
												},
												"TgtSalesFolderName": {
													"value": "@pipeline().parameters.TgtSalesFolder",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "FileexistanceCheck",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(variables('FileExists'))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Get Metadata_file_exists",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "Sales_Address_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"ContainerName": {
													"value": "@pipeline().globalParameters.ContainerName",
													"type": "Expression"
												},
												"InputFolder": {
													"value": "@pipeline().globalParameters.inputFolder",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"exists"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "File_exists_condition",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Get Metadata_file_exists",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(activity('Get Metadata_file_exists').output.exists)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Waitforsalesfile",
												"description": "15",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 180
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Filevariablechange",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "FileExists",
													"value": true
												}
											}
										]
									}
								}
							],
							"timeout": "0.00:30:00"
						}
					}
				],
				"parameters": {
					"TgtSalesFolder": {
						"type": "string",
						"defaultValue": "Sales_mrd"
					},
					"TgtProductFolder": {
						"type": "string",
						"defaultValue": "Product_mrd"
					},
					"CSVFileType": {
						"type": "bool",
						"defaultValue": true
					}
				},
				"variables": {
					"FileExists": {
						"type": "Boolean"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-06-13T14:15:03Z"
			},
			"dependsOn": []
		}
	]
}